.text {
    color: white;
}
.menu {
    background-color: rgb(4, 1, 48);
    opacity: 70%;
    padding: 25px;
}
.optional {
    width: auto;
    text-align: left;
    
}
.MainTexts {
    width: auto;
    text-align: left;
}
.item p {
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-block;
    font-size: 18px;
}
.botspace {
    margin-top: 5px;
    margin-bottom: 20px;
    width: 100%;
}